@font-face {
    font-family: syriac;
    src: url(/static/syriac.ttf);
}

::selection {
    color: white;
    background-color: black;
}

html {
    font-size: 9pt;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Source Code Pro', syriac;
    width: 100vw;
    gap: 5rem;
    padding: 0rem 8rem;
    box-sizing: border-box;
    justify-content: center;
}

table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
}

tr {
    text-align: left;
}

p {
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0rem 0.75rem 0rem;
}

.section {
    padding-top: 3rem;
}

#footer {
    margin-top: 10rem;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin: 1.75rem 0rem 0.5rem 0rem;
}

ul {
    margin: 0rem;
    margin-top: 0.25rem;
    list-style-type: square;
}

ul li {
    margin-bottom: 0.1rem;
}

a {
    color: black;
    font-weight: normal;
    white-space: wrap;
    display: inline;

}

a:hover {
    color: #cd5050;
}

#side {
    width: 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 0.85rem;
    
    height: 0rem;
    position: sticky;
    top: 0;
}

#side img {
    width: 100%;
}

#name {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5rem 0rem 0.5rem 0rem;
    height: 3rem;
    min-height: 3rem;
    line-height: 3rem;
}

#side h2 {
    margin: 1.5rem 0rem 0.25rem 0rem;
    line-height: 1em;
}

#side h2 .desc {
    font-size: 0.7em;
    line-height: 1.1em;
    font-style: italic;
    /* font-weight: normal; */
}

#side table tr {
    line-height: 0.9em;
}

#side table td:last-child {
    font-style: italic;
}

#main {
    width: 45rem;
    min-width: 45rem;
    padding-right: 5rem;
    height: min-content;
    display: flex;
    flex-direction: column;
}

#nav {
    background-color: white;
    display: flex;
    gap: 3em;
    padding: 3rem 0rem 1rem 0rem;
    position: sticky;
    top: 0;
}

#nav span {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-decoration-thickness: 0.1rem;
    white-space: nowrap;
    cursor: pointer;
}

#nav span:hover {
    color: #cd5050;
}

.scrollable {
    padding-right: 1.5rem;
}

#about table {
    width: 95%;
    margin: 0 auto;
}

#about table th {
    text-align: center;
}

#about table td {
    border: 0.2rem solid black;
    width: 32%;
    padding: 1rem 1.5rem;
    background: white;
    box-shadow: 0.75rem 0.75rem 0rem 0rem black;
}

#courses table tr {
    line-height: 1.1em;
}

#courses table td:first-of-type {
    white-space: nowrap;
}

#courses table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 0.1rem solid black;
}

#courses table th {
    padding: 1rem;
    margin: 1rem;
    background: black;
    color: white;
    cursor: pointer;
}

#courses table td:first-child {
    font-weight: bold;
}

.hide {
    display: none;
}


@media (max-width: 45rem) {
    html {
        font-size: 8pt;
    }

    body {
        padding: 0;
        gap: 2rem;
    }

    #nav {
        gap: 2rem;
    }

    #main {
        width: fit-content;
        min-width: auto;
        padding-right: 4rem;
        justify-content: baseline;
    }
}


@media (pointer:none), (pointer:coarse) {
    html {
        font-size: 18pt;
    }

    body {
        flex-direction: column;
        padding: 2rem;
        width: 100vw;
        gap: 3rem;
    }

    #side {
        width: 100%;
        min-width: 100%;
        height: auto;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding: 0;
    }

    #face {
        width: 12rem;
        text-align: right;
        font-size: 0.7em;
    }

    #name {
        height: 2rem;
        min-height: 2rem;
        line-height: 2rem;
    }

    #details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #details h2 {
        font-size: 1.65rem;
    }

    .detail > :not(h2) {
        display: none;
    }

    #nav {
        justify-content: center;
        gap: 5rem;
        padding: 1rem 0rem;
    }

    #main {
        width: 100%;
        min-width: 100%;
        padding: 0;
    }
}